<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="utf-8">
        <title>University Of Toronto Shuttle Bus Map</title>
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://fezvrasta.github.io/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">

        <link href="http://fezvrasta.github.io/bootstrap-material-design/dist/css/material-wfont.min.css" rel="stylesheet">
        <link href="http://fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet">
                        
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Google Map  -->
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBeId-aJWa_EA6FwqCbDJOjjLL6Qe1gr9E&sensor=false">
        </script>        
        <!-- End Google Map  -->

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="http://fezvrasta.github.io/snackbarjs/dist/snackbar.min.js"></script>        
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>        
    </head>
    <body>
        <div id="wrap">

        <!-- NAVABAR-->
        <div class="navbar navbar-inverse navbar-fixed-top" style="{{ navcolor['background-color'] }}">
          <div class="container">
            <div class="navbar-header"> 

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  
                </button>
                <a class="navbar-brand" href="">UFT Home</a>
                
            </div>
            <div id="collapsable_menu_navbar" class="navbar-collapse collapse navbar-responsive-collapse">  
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a  href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <span id="sms_not">SMS Notifications</span><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a onclick="smsNotifications('ON')">ON</a></li>
                            <li><a onclick="smsNotifications('OFF')">OFF</a></li>
                        </ul>
                    </li>
                    <form id="phone_number_form" class="navbar-form navbar-left" onfocusout="savePhoneNumber()">
                        
                                <input id="phone_number_field" type="text" class="form-control" 
                                        {% if 'phone_number' in session %}
                                            value="{{ session['phone_number'] }}"
                                        {% else %}
                                            placeholder="Enter Cellphone Here"
                                        {% endif %}
                                >
                    </form>
                </ul>
                <ul class="nav navbar-nav visible-xs">
                    {% for bus in buses_geo %} 
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 0.5em;">
                                
                                <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6" style="margin-right: 0em;padding-left: 0em;">
                                        
                                        <span class="label label-danger">Bus#{{ bus['bus_id'] }} to {{ bus['stops_list'][bus['next_stop_index']][0] }}({{ bus['status'] }})</span>
                                        <span class="label label-warning" id="distance_menu{{ bus['bus_id'] }}"></span>
                                        <span class="label label-warning" id="duration_menu{{ bus['bus_id'] }}"></span>
                                        <span class="label label-warning">Seats Reserved: 
                                            <span id="seats_xs_bus{{ bus['bus_id'] }}">{{ seats_by_bus[bus['bus_id']] }}</span>
                                        </span>
                                        
                                    
                                </div>
                                <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="margin-right: 0em; padding-right: 0em">
                                    
                                        <button style="float: right; margin-bottom: 0.5em; margin-top: 0em;"                                              
                                            onclick="unCollapseMenu(); triggerMarker({{ bus['bus_id'] }})"
                                            type="button" class="btn btn-primary"  style="margin-bottom: 0em; margin-top: 0em;padding-left: 0em;padding-right: 0em;margin-right: 0px;margin-left: 0em;">
                                            Show On Map
                                        </button>
                                                                        
                                        <button style="float: right; margin-bottom: 0.5em; margin-top: 0em;"
                                            type="button" class="btn btn-success" 
                                        {% if bus['status'] == 'Inactive' %} 
                                            onclick="javascript:$.snackbar({content: 'At the moment this shuttle bus is inactive and you cannot be added.', time: 200});"                                                  
                                        {% else %} 
                                            onclick="addUserCount({{ bus['bus_id'] }});"
                                        {% endif %}                                               
                                            >Add Me
                                        </button>
                                    
                                   
                                
                                 </div>
                            
                        </div>

                   {% endfor %}
                   
                </ul>
            </div>                           
          </div>
        </div>
        <!-- END NAVABAR-->
        <a name="google_map"></a>
        <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <hr class="soften" style='margin-bottom: 0px;'>

                            <div class="container well bs-component" style="padding-top: 15px;">  
                                
                                <div id="map-canvas" class="col-sm-12 col-md-12 col-lg-12"
                                     style="height: 34em;"></div>
                            </div> <!-- /container -->
                                
                            <div class="col-lg-12 visible-sm visible-md visible-lg" style="padding-left: 0px;">
                               
                                {% for bus in buses_geo %}  
                                    {% if buses_geo_len == 1 %}                                        
                                        <div class="col-sm-3 col-md-3 col-lg-3"> </div>
                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                    {% elif buses_geo_len == 2%}  
                                        <div class="col-sm-0 col-md-3 col-lg-1 visible-lg visible-sm"> </div>
                                        <div class="col-sm-6 col-md-6 col-lg-5">
                                    {% else %}
                                        <div class="col-sm-6 col-md-6 col-lg-4">
                                    {% endif %}
                                    
                                    {% if bus['status'] == 'Inactive' %}                                    
                                        <div onclick="triggerMarker({{ bus['bus_id'] }})">    
                                            <div class="panel panel-warning">
                                    {% else %}
                                        <div onclick="triggerMarker({{ bus['bus_id'] }})">
                                            <div class="panel panel-success">                                        
                                    {% endif %}
                                                <div class="panel-heading" style="text-align: center;">
                                                    <h3 style="color: #4285f4">
                                                        Shuttle Bus #{{ bus['bus_id'] }} to {{ bus['stops_list'][bus['next_stop_index']][0] }} Campus 
                                                    </h3>
                                                </div>
                                                <div class="panel-body" >
                                                    <div class="col-lg-12">
                                                        <div class="col-sm-6 col-md-6 col-lg-6" style="text-align: right;">                                                       
                                                            <h5>Status: </h5>
                                                            <h5>Distance: </h5>
                                                            <h5>Arrival Time: </h5>
                                                            <h5>Seats Reserved: </h5>
                                                        </div>    
                                                        <div class="col-sm-6 col-md-6 col-lg-6" style="text-align: left;">  
                                                            <h5>{{ bus['status'] }}
                                                            </h5>
                                                            <h5><span id="distance{{ bus['bus_id'] }}">Unknown</span></h5>
                                                            <h5><span id="duration{{ bus['bus_id'] }}">Unknown</span></h5>
                                                            <h5><span id="seats_lg_bus{{ bus['bus_id'] }}">{{ seats_by_bus[bus['bus_id']] }}</span>
                                                                <button class="btn btn-warning" style="margin-top: 0px; 
                                                                                                        margin-left: 0px;
                                                                                                        margin-bottom: 0px;
                                                                                                        margin-right: 0px;
                                                                                                        padding-right: 0.7px;
                                                                                                        padding-left: 0.7px;
                                                                                                        padding-top: 0px;
                                                                                                        padding-bottom: 0px;"
                                                                data-toggle="tooltip" data-placement="right" title="" data-original-title="{{ tooltips['?'] }}" type="button">?</button>
                                                            </h5>                                                     

                                                        </div>    

                                                    </div>
                                                    
                                                </div>
                                                <div class="panel-footer">
                                                    <button style="margin:0 auto;display:block;" type="button" class="btn btn-primary"  data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ tooltips['btn'] }}" 
                                                {% if bus['status'] == 'Inactive' %} 
                                                    onclick="javascript:$.snackbar({content: 'At the moment this shuttle bus is inactive and you cannot be added.', time: 200});"         
                                                {% else %} 
                                                    onclick="addUserCount({{ bus['bus_id'] }});"
                                                {% endif %}         
                                                    >Add Myself To Next Bus
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                        
                                    
                                {% endfor %}  
                            </div>                  

                        
                        </div><!--/row-->
                    </div>

                    <!--
                    <div class="row">

                        <div class="col-md-12">
                            <hr class="soften" style='margin-bottom: 0px;'>

                            <div class="container well" style="padding-top: 15px;">  
                                <h1 style="text-align: center;">UTM Bus Schedule</h1>
                                <div class="col-lg-6">
                                    <h3>AM: </h3>
                                    <h4>{{ schedule['UTM']['AM'] }}</h4>
                                </div>

                                <div class="col-lg-6">
                                    <h3>PM: </h3>
                                    <h4>{{ schedule['UTM']['PM'] }}</h4>
                                </div>

                                <h1 style="text-align: center;">UFT Bus Schedule</h1>
                                <div class="col-lg-6">
                                    <h3>AM: </h3>
                                    <h4>{{ schedule['UFT']['AM'] }}</h4>
                                </div>

                                <div class="col-lg-6">
                                    <h3>PM: </h3>
                                    <h4>{{ schedule['UFT']['PM'] }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
        </div><!--/container-->

        <hr class="soften">
        </div>


        
        <div id="footer">
             University of Toronto Shuttle Buses - The smartest way to get around.
        </div>

        
        
        
        
        

        <script>
            var GLOB_BUSES = {{ buses_geo|tojson|safe }}
            var GLOB_STOPS = {{ stops_geo|tojson|safe }}
            var GLOB_MAP_STYLE = {{ map_style_array|tojson|safe }}
        </script>

    </body>
</html>
