<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="utf-8">
        <title>University Of Toronto Shuttle Bus Map</title>
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://fezvrasta.github.io/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">

        <link href="http://fezvrasta.github.io/bootstrap-material-design/dist/css/material-wfont.min.css" rel="stylesheet">
        <link href="http://fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet">
                
        <link href="/css/main.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Google Map  -->
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBeId-aJWa_EA6FwqCbDJOjjLL6Qe1gr9E&sensor=false">
        </script>        
        <!-- End Google Map  -->

    </head>
    <body>
        <div id="wrap">

        <!-- NAVABAR-->
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">                                   
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">UFT Home</a>
            </div>
                <div class="navbar-collapse collapse">  
                    <ul class="nav navbar-nav hidden">
                       <li ><a href="">Bus #1</a></li>        
                       <li ><a href="">Bus #2</a></li>
                       <li ><a href="">Bus #3</a></li>
                       <li ><a href="">Bus #4</a></li>            
                    </ul>
                </div>                           
          </div>
        </div>
        <!-- END NAVABAR-->

        <div class="container">
                    <div class="row">

                        <div class="col-md-8">
                            <hr class="soften" style='margin-bottom: 0px;'>

                            <div class="container well bs-component">  
                                
                                <div id="map-canvas" class="col-sm-12 col-md-12 col-lg-12"
                                     style="height:800px;"></div>
                            </div> <!-- /container -->
                            
                            <div id="buses_container_id" class="container well">                                    
                            </div>
                        </div>                        
                    </div><!--/row-->
        </div><!--/container-->
            
        <hr class="soften">
        </div>


        <div id="footer">
             University of Toronto Shuttle Buses - The smartest way to get around.
        </div>

        
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <script src="js/main.js"></script>        

    </body>
</html>
